footer {
    background-color: #F5F7FA;
    height: 300px;
}
.text p {
    font-size: 64px;
    color: black;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding-top: 32px;
}
.ff {
    font-size: 16px;
    color: white;
    margin: 0 auto;
    width: 178px;
    height: 52px;
    background-color: #4CAF4F;
    border-radius: 4px;
    margin-top: 32px;
    text-align: center;
    align-content: center;
    font-weight: 600px;
}
.devv12 {
    background-color: #263238;
    width: 100%;
    height: 328px;
    margin-top: 32px;
    display: flex;
    padding-top: 65px;
    justify-content: space-around;
}
.cdxr1 {
    width: 350px;
    height: 189px;

}
.scdscdx {
    margin-right: 165px;
}
* {
    margin: 0;
}
.efv {
    margin-left: 165px;
}
.logo {
    width: 190px;
    height: 30px;
}
.drcxrd h1 {
    padding-top: 42px;
    font-size: 14px;
    color: white;
}
.drcxrd h2 {
    margin-top: 8px;
    font-size: 14px;
    color: white;
}
.icons {
    margin-top: 40px;
}
.refwvsf {
    display: flex;
}
.refwvsf ul li {
    padding-bottom: 12px;
    list-style: none;
    font-size: 14px;
    color: white;
    width: 160px;
    margin-left: 30px;
}
.refwvsf ul h1 {
    padding-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-left: 30px;
}
.scdscdx h1 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
}
.scdscdx h2 {
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: grey;
    border-radius: 8px;
    width: 250px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.scdscdx img {
    width: 18px;
    height: 18px;
}
